<app-base-layout
  [activeIndex]="activeIndex"
  [pokedexListPageComponent]="pokedexListPageComponent"
  #baseLayoutComponent
></app-base-layout>

<nav aria-label="Page navigation example" class="mt-5">
  <ul class="pagination justify-content-center">
    <li class="page-item {{ activeIndex === 1 ? 'disabled' : '' }}">
      <button class="page-link" aria-label="Previous" (click)="changePage(activeIndex - 1)">
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>
    <li
      class="page-item  {{ (activeIndex + 3 >= i && activeIndex - 1 <= i) || (activeIndex >= 9 && i + 1 >= 9) ? '' : 'd-none' }}"
      *ngFor="let _ of array13; let i = index;"
    >
      <button
        class="page-link {{ activeIndex === i + 1 ? 'active' : '' }}"
        (click)="changePage(i + 1)"
      >
        {{ i + 1 }}
      </button>
    </li>
    <li class="page-item {{ activeIndex === 13 ? 'disabled' : '' }}" (click)="changePage(activeIndex + 1)">
      <button class="page-link" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>
  </ul>
</nav>

<app-pokedex-list-page #pokedexListPageComponent></app-pokedex-list-page>
